/*
    Oragne color: #e67e22
*/

/*------------------------------*/
/*Basic Setup*/
/*------------------------------*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    background-color: #ffffff;
    color: #e2d4d4;
    font-family: 'Lato' , sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
}


/*------------------------------*/
/*Reuseable Components*/
/*------------------------------*/

.row
{
    max-width: 1140px;
    /*
    we went center this row so 
    for do this the margin right and left be auto and the 
    top and bottom be 0
    margin: top right bottom left 
    simpler way to do this 
    margin: 0 auto  top and bottom be 0 
    and left and right be auto
    */
    margin: 0 auto;
}

section
{
    /*
    padding 
    top and button 80px
    left and right 0
    */
    padding: 80px 0;
    
}

.box
{
    padding: 1%;
}

/*------- Headings -------*/

h1,
h2,
h3
{
    font-weight: 300;
    text-transform: uppercase;
}

h1
{
    margin-top: 0;
    margin-bottom: 20px;
    /*
    Because the normalize.css file 
    we have problam with text so
    we need change the margin of h1 
    to 0
    */
    color: #e2d4d4;
    /*
    The site need to be responsive 
    web desing, so we need everything be relative
    so  the font size be 200% that mean
    from 20px font size in html 
    18 * 240 = 4320
    */
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2
{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3
{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after
{
    display: block;
    height: 2px;
    background-color: #e67e22;
    
    /*
    importent to do in pseudo class
    need to specify its content
    in this case i dont won't
    any word to see it so put space
    in there " " 
    */
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px; 
}
/*------- Paragraphs -------*/

.long-copy
{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}


.box p
{
    font-size: 90%;
    line-height: 145%;
}
/*------- Icons -------*/

.icon-big
{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}



/*------- Buttons -------*/

.btn:link,
.btn:visited
{
    /*
    Because a is element inline 
    we went change this for inline block
    */
    display: inline-block;
    /*
    padding: 10px 30px is shorcut
    to 10px top and botton 
    30px right and left
    */
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited
{
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited
{
    border: 1px solid #e67e22;
    color: #e67e22;
}


/*
What happen when the mouse hover 
on button or active
*/
.btn:hover,
.btn:active
{
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active
{
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active
{
    border: 1px solid #cf6d17;
    color: #fff;
}


/*------------------------------*/
/*Header*/
/*------------------------------*/

header 
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)), url(img/hero.jpeg);
    /*vh mean viewport of page in %*/
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box 
{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo 
{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav
{
    float: right;
    /*
    To rid the bullet print
    so the list style be none
    */
    list-style: none;
    margin-top: 55px;
}

.main-nav li 
{
    /*
    They are block element
    lest change them to inline block
    */
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited
{
    padding: 8px 0;
    color: #fff;
    /*
    To rid the underline
    the text-decoration: none
    */
    text-decoration: none;
    text-transform: uppercase;
    /*
    18px / 20px = 0.9 = 90%
    */
    font-size: 90%;
    
    /*
    To order the borser be exsit 
    need brfore hover this but not see is 
    so need use transparent 
    */
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}


.main-nav li a:hover,
.main-nav li a:active
{
    border-bottom: 2px solid #e67e22;
}

/*------------------------------*/
/*Features*/
/*------------------------------*/

.section-features .long-copy
{
    margin-bottom: 30px;
}


/*------------------------------*/
/*Meals*/
/*------------------------------*/

.section-meals 
{
    padding: 0;
}


.meals-showcase
{
    /*list-style: none -->No marker is shown*/
    list-style: none;
    width: 100%;
}

.meals-showcase li
{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo
{
    width: 100%;
    margin: 0;
    /*
    to fix the overflow from 
    transform: scale(1.15)
    use the overflow and set
    him hidden and that overflow not 
    visable and we see part of image
    insiafe the conatiner
    */
    overflow: hidden;
    /*
    The background-color:#000 
    becuase the opacity is lighter the
    image and we went rhe background be more darker
    */
    background-color: #000;
}

.meal-photo img
{
    /*
        opacity mean be more lighter
        0.7 mean 70%
    */
    opacity: 0.7;
    width: 100%;
    height: auto;
    /*
    scale mean the image big more 115%
    */
    transform: scale(1.15);
}


.meal-photo img:hover
{
    opacity: 1;
    /*
    scale(1.03) because we 
    went the image go back 
    to look likenormal
    */
    transform: scale(1.03);
    transition: transform 0.5s, opacity 0.5s;
}