*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    background-color: #ffffff;
    color: #e2d4d4;
    font-family: 'Lato' , sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row
{
    max-width: 1140px;
    /*
    we went center this row so 
    for do this the margin right and left be auto and the 
    top and bottom be 0
    margin: top right bottom left 
    simpler way to do this 
    margin: 0 auto  top and bottom be 0 
    and left and right be auto
    */
    margin: 0 auto;
}

header 
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) , rgba(0, 0, 0, 0.7)), url(img/hero.jpeg);
    /*vh mean viewport of page in %*/
    background-size: cover;
    background-position: center;
    height: 100vh;
}

h1
{
    /*
    Because the normalize.css file 
    we have problam with text so
    we need change the margin of h1 
    to 0
    */
    margin: 0;
}

.hero-text-box 
{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
